{% extends 'base.html.twig' %}

{% block title %}Aviso Legal | Patrónate{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <h1 class="mt-5">CONDICIONES GENERALES DE ACCESO Y USO DEL SITIO WEB PATRONATE.EU</h1>
<p class="text-muted"><small>Última actualización 17-11-2022</small></p>
<p>
    El sitio web www.patronate.eu es propiedad de Edilberto Vieito Giráldez (en adelante, Patrónate), con domicilio
    a efectos de notificaciones en Fontes do Sar, 4, 3ºB, NIF núm. 77009905V y dirección de correo
    electrónico edivieito@gmail.com, y a través del mismo se proporciona información sobre sus actividades.
</p>

<!-- ?? DATOS INSCRIPCION -->

<p>
El acceso y uso del sitio web atribuye al que lo realiza la condición de “Usuario” e implica la aceptación íntegra,
    expresa y sin reservas de las presentes condiciones generales, vigentes en el momento del acceso. Si el usuario no
    comprendiera en su totalidad las presentes condiciones de uso o no estuviera de acuerdo con las mismas, deberá
    abstenerse de utilizar y operar a través de este sitio web. 
    </p>

<p class="mb-5">
Las presentes condiciones generales rigen única y exclusivamente el uso del sitio web de Patrónate por
parte de los usuarios que accedan y/o naveguen por www.patronate.eu. Las presentes condiciones generales se exponen
en el sitio web patronate.eu, para que los usuarios puedan leerlas, imprimirlas y
archivarlas.
</p>

    <h2 class="mt-5">Condiciones de acceso y uso</h2>
<p>La utilización del sitio web de Patrónate es gratuita y no requiere el previo registro del usuario. En
    aquellos casos que el acceso y/o uso de determinados servicios y/o contenidos requiriesen el registro o suscripción
    de los usuarios, será necesario que éstos acepten previamente la correspondiente Política de Privacidad y las
    Condiciones Generales específicas, no siendo posible el acceso a los mismos sin dicha aceptación.</p>
<p>Las condiciones de acceso y uso del presente sitio web se rigen estrictamente por la legalidad vigente y por el
    principio de buena fe, comprometiéndose el usuario a realizar un buen uso de la web. Quedan prohibidos todos los
    actos que vulneren derechos o intereses de terceros (derecho a la intimidad, protección de datos, propiedad
    intelectual, etc.), o la normativa vigente.</p>
<p>Patrónate prohíbe expresamente:
    <br>
<ul>
    <li>Realizar acciones que puedan producir en el sitio web o a través del mismo, por cualquier medio, cualquier tipo
        de daño a los sistemas de Patrónate o a terceros.
    </li>
    <li>Realizar sin la debida autorización cualquier tipo de publicidad o información comercial directamente o de forma
        encubierta, el envío de correos masivos ("spamming") o envío de grandes mensajes con el fin de bloquear
        servidores de la red ("mail bombing").
    </li>
</ul>
</p>
<p>El usuario se compromete a no utilizar el sitio web, ni los contenidos o información y/o los servicios que se ofrecen
    en el mismo para la realización de actividades contrarias a la ley y a respetar en todo momento las presentes
    condiciones generales.</p>
<p>Patrónate podrá interrumpir en cualquier momento el acceso a su sitio web si detecta un uso contrario a
    la legalidad, la buena fe o a las presentes condiciones generales.</p>

<h2 class="mt-5">Contenidos</h2>
<p>Los contenidos incorporados en este sitio web han sido elaborados e incluidos por Patrónate, utilizando
    fuentes internas y externas, de tal modo que Patrónate únicamente se hace responsable por los
    contenidos elaborados de forma interna.</p>
<p>Patrónate se reserva el derecho a modificar en cualquier momento los contenidos existentes en su sitio
    web. Patrónate no asegura ni se responsabiliza del correcto funcionamiento de los enlaces a sitios web
    de terceros que figuren en el sitio web.</p>
<p>Además, a través del sitio web patronate.eu, pueden ponerse a disposición de los usuarios, servicios gratuitos y/o
    de pago ofrecidos por terceros ajenos, los cuáles se regirán por las condiciones particulares de dichos
    servicios. Patrónate no garantiza en ningún caso la veracidad, exactitud o actualidad de los contenidos
    y servicios ofrecidos por terceros y queda expresamente exonerado de cualquier tipo de responsabilidad por los daños
    y perjuicios que puedan derivarse de la falta de exactitud de estos contenidos y servicios.</p>


<h2 class="mt-5">Responsabilidad</h2>
<p>Patrónate en ningún caso será responsable de:
    <br>
<ul>
    <li>Los fallos e incidencias que pudieran producirse en las comunicaciones, borrado o transmisiones incompletas de
        manera que no se garantiza que los servicios del sitio web estén constantemente operativos.
    </li>
    <li>De la producción de cualquier tipo de daño que los usuarios o terceros pudiesen ocasionar en el sitio web.</li>
    <li>De la fiabilidad y veracidad de las informaciones introducidas por terceros en el sitio web, bien directamente,
        bien a través de enlaces o links.
    </li>
</ul>
</p>

<p>Patrónate se reserva el derecho a suspender el acceso sin previo aviso de forma discrecional y con
    carácter definitivo o temporal hasta el aseguramiento de la efectiva responsabilidad de los daños que pudieran
    producirse.</p>
<p>Patrónate colaborará y notificará a la autoridad competente las incidencias anteriormente indicadas en
    el momento en que tenga conocimiento fehaciente de que los daños ocasionados constituyan cualquier tipo de actividad
    ilícita.</p>


    <!-- AUTOR-->
    <h2 class="mt-5">Derechos de autor</h2>
    <p>Los contenidos propios, la programación y el diseño del sitio web patronate.eu se encuentra plenamente
        protegido por los derechos de autor, quedando expresamente prohibida toda reproducción, comunicación,
        distribución y transformación de los referidos elementos protegidos, salvo consentimiento expreso
        de Patrónate.</p>
    <p>Patrónate puede utilizar fuentes externas para la elaboración de sus contenidos y establecer links o
        hiperenlaces a artículos o informaciones de terceros citando siempre la fuente. El legítimo titular de los
        derechos de autor de las informaciones así incluidas podrá solicitar en cualquier momento la eliminación de los
        referidos contenidos.</p>
    <p>Los materiales tanto gráficos como escritos enviados por los usuarios a través de los medios que se ponen a su
        disposición en el sitio web son propiedad del usuario, quien afirma al enviarlos su legítima autoría y cede los
        derechos de reproducción y distribución al Patrónate. </p>

<h2 class="mt-5">Jurisdicción y ley aplicable</h2>
<p>Las presentes condiciones generales se rigen por la legislación española. Son competentes para resolver toda
    controversia o conflicto que se derive de las presentes condiciones generales los Juzgados de Santiago de Compostela,
    renunciando expresamente el usuario a cualquier otro fuero que pudiera corresponderle.</p>

<h2 class="mt-5">Miscelánea</h2>
<p>
    La declaración de nulidad de alguna o algunas de las cláusulas de estas Condiciones no perjudica la validez de las 
    restantes, que permanecerán vigentes. Patrónate podrá no ejercitar alguno de los derechos y facultades 
    conferidos en este documento estas Condiciones lo que no implicará en ningún caso la renuncia a los mismos, salvo 
    reconocimiento expreso por parte de Patrónate.
    Estas Condiciones Generales podrán ser modificadas por Patrónate cuando así lo considere oportuno. 
    La modificación surtirá efectos desde el día siguiente a la fecha de su publicación.    
</p>
</div>
{% endblock %}
