{% extends 'base-panel.html.twig' %}
{% form_theme formActualizarUser 'bootstrap_5_layout.html.twig' %}
{% block main %}
<div class="g-0 row">
      <div class="container mt-4">
        <h2>Modificar usuario</h2>
        <p>En este apartado podrás <b>modificar</b> las propiedades y accesos de los usuarios de la plataforma. 
          {{form(formActualizarUser)}}
      </div>
    </main>
</div>
{% endblock %}
