<div class="container mt-4">
<h1>Ups no tienes acceso a este contenido</h1>
<p>No tienes acceso para acceder a la página introducida. Por favor vuelve a los cursos y solicita el acceso.</p>
<p>Si lo prefieres también puedes ponerte en contacto a través de <a href="mailto:info@patronate.eu">info@patronate.eu</a></p>
</div>
